@font-face {
    font-family: "perilune";
    src: url("../fonts/perilune.woff2?cf296a504f95425d8624c0d573565c6b") format("woff2"),
url("../fonts/perilune.woff?cf296a504f95425d8624c0d573565c6b") format("woff");
}

.pl::before,
[class^="pl-"]:before,
[class*=" pl-"]:before {
    display: inline-block;
    font-family: perilune !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pl-add-to-artifact:before { content: "\f101"; }
.pl-add:before { content: "\f102"; }
.pl-archive:before { content: "\f103"; }
.pl-automatic-updates:before { content: "\f104"; }
.pl-ban-circle:before { content: "\f105"; }
.pl-bookmark:before { content: "\f106"; }
.pl-bring-data:before { content: "\f107"; }
.pl-build:before { content: "\f108"; }
.pl-changes:before { content: "\f109"; }
.pl-chat:before { content: "\f10a"; }
.pl-circle:before { content: "\f10b"; }
.pl-clean:before { content: "\f10c"; }
.pl-clipboard:before { content: "\f10d"; }
.pl-code:before { content: "\f10e"; }
.pl-comment:before { content: "\f10f"; }
.pl-comparison:before { content: "\f110"; }
.pl-confirm:before { content: "\f111"; }
.pl-credit-card:before { content: "\f112"; }
.pl-cross:before { content: "\f113"; }
.pl-cut:before { content: "\f114"; }
.pl-delete:before { content: "\f115"; }
.pl-derive-column:before { content: "\f116"; }
.pl-disable:before { content: "\f117"; }
.pl-download:before { content: "\f118"; }
.pl-drag-handle-horizontal:before { content: "\f119"; }
.pl-drag-handle-vertical:before { content: "\f11a"; }
.pl-draw:before { content: "\f11b"; }
.pl-duplicate:before { content: "\f11c"; }
.pl-edit:before { content: "\f11d"; }
.pl-endorsed:before { content: "\f11e"; }
.pl-equals:before { content: "\f11f"; }
.pl-exchange:before { content: "\f120"; }
.pl-export:before { content: "\f121"; }
.pl-filter-keep:before { content: "\f122"; }
.pl-filter-list:before { content: "\f123"; }
.pl-filter-open:before { content: "\f124"; }
.pl-filter-remove:before { content: "\f125"; }
.pl-filter:before { content: "\f126"; }
.pl-fork:before { content: "\f127"; }
.pl-geosearch:before { content: "\f128"; }
.pl-git-branch:before { content: "\f129"; }
.pl-git-commit:before { content: "\f12a"; }
.pl-git-merge:before { content: "\f12b"; }
.pl-git-new-branch:before { content: "\f12c"; }
.pl-git-pull:before { content: "\f12d"; }
.pl-git-push:before { content: "\f12e"; }
.pl-git-repo:before { content: "\f12f"; }
.pl-graph-remove:before { content: "\f130"; }
.pl-greater-than-or-equal-to:before { content: "\f131"; }
.pl-greater-than:before { content: "\f132"; }
.pl-group-objects:before { content: "\f133"; }
.pl-help:before { content: "\f134"; }
.pl-highlight:before { content: "\f135"; }
.pl-history:before { content: "\f136"; }
.pl-import:before { content: "\f137"; }
.pl-inheritance:before { content: "\f138"; }
.pl-inner-join:before { content: "\f139"; }
.pl-insert:before { content: "\f13a"; }
.pl-intersection:before { content: "\f13b"; }
.pl-left-join:before { content: "\f13c"; }
.pl-less-than-or-equal-to:before { content: "\f13d"; }
.pl-less-than:before { content: "\f13e"; }
.pl-locate:before { content: "\f13f"; }
.pl-lock:before { content: "\f140"; }
.pl-log-in:before { content: "\f141"; }
.pl-log-out:before { content: "\f142"; }
.pl-maximize:before { content: "\f143"; }
.pl-merge-links:before { content: "\f144"; }
.pl-minimize:before { content: "\f145"; }
.pl-minus:before { content: "\f146"; }
.pl-move:before { content: "\f147"; }
.pl-new-link:before { content: "\f148"; }
.pl-new-object:before { content: "\f149"; }
.pl-new-text-box:before { content: "\f14a"; }
.pl-not-equal-to:before { content: "\f14b"; }
.pl-numbered-list:before { content: "\f14c"; }
.pl-numerical:before { content: "\f14d"; }
.pl-one-column:before { content: "\f14e"; }
.pl-paperclip:before { content: "\f14f"; }
.pl-path-search:before { content: "\f150"; }
.pl-percentage:before { content: "\f151"; }
.pl-pin:before { content: "\f152"; }
.pl-pivot:before { content: "\f153"; }
.pl-plus:before { content: "\f154"; }
.pl-predictive-analysis:before { content: "\f155"; }
.pl-print:before { content: "\f156"; }
.pl-redo:before { content: "\f157"; }
.pl-refresh:before { content: "\f158"; }
.pl-remove:before { content: "\f159"; }
.pl-repeat:before { content: "\f15a"; }
.pl-reset:before { content: "\f15b"; }
.pl-resolve:before { content: "\f15c"; }
.pl-right-join:before { content: "\f15d"; }
.pl-search-around:before { content: "\f15e"; }
.pl-search-template:before { content: "\f15f"; }
.pl-search-text:before { content: "\f160"; }
.pl-search:before { content: "\f161"; }
.pl-select:before { content: "\f162"; }
.pl-selection:before { content: "\f163"; }
.pl-send-message:before { content: "\f164"; }
.pl-send-to-graph:before { content: "\f165"; }
.pl-send-to-map:before { content: "\f166"; }
.pl-send-to:before { content: "\f167"; }
.pl-share:before { content: "\f168"; }
.pl-signal-search:before { content: "\f169"; }
.pl-slash:before { content: "\f16a"; }
.pl-small-cross:before { content: "\f16b"; }
.pl-small-minus:before { content: "\f16c"; }
.pl-small-plus:before { content: "\f16d"; }
.pl-small-tick:before { content: "\f16e"; }
.pl-social-media:before { content: "\f16f"; }
.pl-sort-alphabetical-desc:before { content: "\f170"; }
.pl-sort-alphabetical:before { content: "\f171"; }
.pl-sort-asc:before { content: "\f172"; }
.pl-sort-desc:before { content: "\f173"; }
.pl-sort-numerical-desc:before { content: "\f174"; }
.pl-sort-numerical:before { content: "\f175"; }
.pl-sort:before { content: "\f176"; }
.pl-tag:before { content: "\f177"; }
.pl-take-action:before { content: "\f178"; }
.pl-tick-circle:before { content: "\f179"; }
.pl-tick:before { content: "\f17a"; }
.pl-translate:before { content: "\f17b"; }
.pl-trash:before { content: "\f17c"; }
.pl-two-columns:before { content: "\f17d"; }
.pl-unarchive:before { content: "\f17e"; }
.pl-undo:before { content: "\f17f"; }
.pl-ungroup-objects:before { content: "\f180"; }
.pl-unlock:before { content: "\f181"; }
.pl-unpin:before { content: "\f182"; }
.pl-unresolve:before { content: "\f183"; }
.pl-upload:before { content: "\f184"; }
.pl-zoom-in:before { content: "\f185"; }
.pl-zoom-out:before { content: "\f186"; }
.pl-zoom-to-fit:before { content: "\f187"; }
